name: Build and Push Docker Images
on:
  workflow_dispatch:
env:
  REGISTRY: ghcr.io
  COMMITHASH: 2534852c407f1d8c0bd02c5fef04f9510994a56c
  TAG: 2.3.0
  IMAGE: smtprelay
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE  }}:${{ env.TAG }}
          build-args: |
            COMMITHASH=${{ env.COMMITHASH }}
          cache-from: type=gha,scope=${{ env.IMAGE  }}:${{ env.TAG }}
          cache-to: type=gha,mode=max,scope=${{ env.IMAGE  }}:${{ env.TAG }}
